<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
         
            <a class="nav-link" href="/">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Element Master</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/element/create">Create Element</a></li>
                <li class="nav-item"> <a class="nav-link" href="/api/element/element_list">Elements List</a></li>
              </ul>
            </div>

            
          </li>
          
             <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Package Approval Master</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/api/package/approval">Package Approval List</a></li>
              </ul>
            </div>

            
          </li>
          
        
       
         
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Package Master</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/package/create">Create Package</a></li>
                      <li class="nav-item"> <a class="nav-link" href="/api/package/package_list">Package List</a></li>
          
              </ul>
            </div>
          </li>
      

      <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#memebrship" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Membership Master</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="memebrship">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/api/user/user_list">Membership List</a></li>
              </ul>
            </div>
          </li>
       

       
       
    



      <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#terms" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Terms And Conditions Master</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="terms">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/termsandconditions">Terms And Conditions</a></li>
              </ul>
            </div>

          </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#notification" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Notification Master</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="notification">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/notifications">Notification</a></li>
              </ul>
            </div>
          </li>
       
                 </ul>
      </nav>